/* Criar estilos personalizados

    ex: mudar cor de fundo, tamanho e tipo de imagens, etc.
*/

section.full-center {
    display: flex;
}

html,
body,
.intro {
  height: 100%;
  background-color: #C7C8CC;
}

nav.picton {
  background-color: #65B3D7;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

img.w-100 {
  height: 72vh;
}

img.carg-cust-img {
  width: 100%;
  height: 40vh;
}

img.card-clinic {
  height: 60vh;
}

.card {
  border-radius: .5rem;
}

main > section.intro {
  margin-top: 5rem;
  display: grid;
}

footer.ghost {
  background-color: #F4F4F9;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

main.control-size {
  padding: 5em;
  width: 70%;
  margin: 0 18vh 0 50vh;
  text-align: justify;
}

input.form-input {
  width: 50%;
}

select.form-select {
  width: 45%;
}